# Scenario:

You have an SQLite database called "company.db". It has two tables:

1 "employees" with the following columns: id, name, department_id, salary.

2 "departments" with the following columns: id, department_name.

# Task
Write a Python script that:

In [1]:
# 1. Connect to the "company.db" SQLite database

import sqlite3
import pandas as pd


conn = sqlite3.connect("company.db")

In [ ]:
# 2. Fetches data from the "employees" and "departments" tables where the department_name is "Sales" and salary is above 50000.

query = """
SELECT employees.name, employees.salary, departments.department_name
FROM employees
JOIN departments ON employees.department_id = departments.id
WHERE departments.department_name = 'Sales' AND employees.salary > 50000
"""
df = pd.read_sql_query(query, conn)

In [ ]:
#3 Calculate average and median salary of these employees.

average_salary = df['salary'].mean()
median_salary = df['salary'].median()

print("Average Salary:", average_salary)
print("Median Salary:", median_salary)

In [ ]:
# 4. Groups the data by department and prints the highest earner in each department.

query = '''
SELECT d.department_name, e.name, e.salary
FROM employees e
JOIN departments d ON e.department_id = d.id
WHERE e.salary = (
  SELECT MAX(salary)
  FROM employees
  WHERE department_id = e.department_id
)
ORDER BY d.department_name
'''

# Execute the query and load the results into a Pandas DataFrame
df = pd.read_sql_query(query, conn)

# Print the results as a table
print(df.to_string(index=False))


# or another way for this task

highest_earner = df.groupby('department_name')['name', 'salary'].max()
print("\nHighest Earner in each Department:")
print(highest_earner)

In [ ]:
# 5. Prints the name of the employee who has the highest salary in the entire company.

query = '''
SELECT name
FROM employees
WHERE salary = (
  SELECT MAX(salary)
  FROM employees
)
'''

# Execute the query and load the result into a Pandas DataFrame
df = pd.read_sql_query(query, conn)

# Print the name of the employee with the highest salary
print("Employee with the highest salary:", df['name'][0] if not df.empty else "No employee found")

# or another way for this task

highest_salary_employee = df.loc[df['salary'].idxmax(), 'name']
print("\nEmployee with Highest Salary:", highest_salary_employee)

In [ ]:
# 6. Save the result to a CSV file

df.to_csv('result.csv', index=False)

In [ ]:
# Close the database connection
conn.close()